<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>
<div class="content-wrapper">
  <button (click)="newQrItem()" mat-button>
    <mat-icon>add</mat-icon> Add Item
  </button>
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="qrItems | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        class="list">
        <p class="empty-label" *ngIf="(qrItems | async)?.length === 0">Empty list</p>
        <app-item (edit)="editItem('qrItems', $event)" *ngFor="let qrItem of qrItems | async" cdkDrag [qrItemIn]="qrItem"></app-item>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"

        class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-item (edit)="editItem('inProgress', $event)" *ngFor="let qrItem of inProgress | async" cdkDrag [qrItemIn]="qrItem"></app-item>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"

        class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-item (edit)="editItem('done', $event)" *ngFor="let qrItem of done | async" cdkDrag [qrItemIn]="qrItem"></app-item>
      </mat-card>
    </div>
  </div>
</div>
