<router-outlet>
  <mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Kanban Fire</span>
  </mat-toolbar>
  <div class="content-wrapper">
    <button (click)="newQrItem()" mat-button>
      <mat-icon>add</mat-icon> Add Item
    </button>
    <div class="container-wrapper">
      <div class="container">
        <h2>0001</h2>

        <mat-card
          cdkDropList
          id="0001"
          #list0001="cdkDropList"
          [cdkDropListData]="storage_0001 | async"
          [cdkDropListConnectedTo]="[list0002, list0003]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(storage_0001 | async)?.length === 0">Empty list</p>
          <app-item (edit)="editItem('0001', $event)" *ngFor="let item of storage_0001 | async" cdkDrag [qrItemIn]="item"></app-item>
        </mat-card>
      </div>

      <div class="container">
        <h2>0002</h2>

        <mat-card
          cdkDropList
          id="0002"
          #list0002="cdkDropList"
          [cdkDropListData]="storage_0002 | async"
          [cdkDropListConnectedTo]="[list0001, list0003]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(storage_0002 | async)?.length === 0">Empty list</p>
          <app-item (edit)="editItem('0002', $event)" *ngFor="let item of storage_0002 | async" cdkDrag [qrItemIn]="item"></app-item>
        </mat-card>
      </div>

      <div class="container">
        <h2>0003</h2>

        <mat-card
          cdkDropList
          id="0003"
          #list0003="cdkDropList"
          [cdkDropListData]="storage_0003 | async"
          [cdkDropListConnectedTo]="[list0001, list0002]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(storage_0003 | async)?.length === 0">Empty list</p>
          <app-item (edit)="editItem('0003', $event)" *ngFor="let item of storage_0003 | async" cdkDrag [qrItemIn]="item"></app-item>
        </mat-card>
      </div>
    </div>
  </div>
</router-outlet>
